@tailwind base;
@tailwind components;
@tailwind utilities;

.blury-display {
  filter: blur(1px);
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 100px !important;
  cursor: pointer !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(236deg, #FF8A0F 0%, #FFB31A 100%);
  border-radius: 100px !important;
  cursor: pointer !important;
}